VITE_GOOGLE_CLIENT_ID=269277017328-k7m2jo563j7t0bqhojr48ejn61qneugu.apps.googleusercontent.com
GOOGLE_CLIENT_ID=269277017328-k7m2jo563j7t0bqhojr48ejn61qneugu.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your_google_client_secret_here
JWT_SECRET=skillpods_jwt_secret_sih_2026_super_secure_key_#8f4a9c
PORT=3000
